@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a class="text-sky-600" href="https://docs.microsoft.com/aspnet/core" aria-current-state="Page">building Web apps with ASP.NET Core</a>.</p>
</div>
